body, html {
  height: 100%;
  margin: 0;
  /*--overflow: hidden;*/
}
body{
	padding: 0 0 0 0;
}
::-webkit-scrollbar { 
    display: none; 
}


#first{	
	width: 100%;
	height: 100%;
    background-color: #222;
        
}

#second{	
	width: 100%;
	height: 100%;
	background-color: #aaa;    
}

#third{	
	width: 100%;
	height: 100%;
	background-color: #777;    
}

#botonNav{
	
}
.centrar {
	/*width: 50%;*/
    margin: 0 auto;
	text-align: center;
	
	position: relative;
	top: 20%;
	
}


h1 {
	color: beige;
    font-size: -webkit-xxx-large;
    font-family: inherit;
    font-style: normal;
    font-variant-ligatures: initial;
    margin-bottom: 25px;
}

strong {
	color: #67C9FD;
	font-size: x-large;
 }

.votapp{
	color: #67C9FD;
	font-size: x-large;
    font-size: -webkit-xxx-large;
}

p{
color: beige;font-size: larger;	
	
}