<div id="seccionEleccion" >
	<div class="centrarEncuesta">
		<div class="container">
			<div class="row">
				<h1>Aqui se mostraran los datos de la encuesta seleccionada</h1>
				<h3>{{encuesta.nombre}}</h3>
				<p><a class="btn btn-lg btn-success" ui-sref="home">Volver a Home</a></p> 
				
				<div id="container" class="col-xs-6 col-sm-6 col-md-6" style="height:350px;"></div>
				<div ng-show="encuesta.preguntarEdad" id="container2" class="col-xs-6 col-sm-6 col-md-6" style=" height:350px;"></div>
				
			</div>
		</div>
	</div>	
</div>