<div ng-include src="'layout/header.html'"></div>
<div id="first">
	<div style="padding-top:20px;">
	
	<div class="row">
	<div class="col-xs-4 col-md-4" style="padding-top:5%">
  		<img class="img-responsive" src="resources/img/votapp.png" alt="">
  </div>
  <div class="col-md-8 " style="padding-top:10%">
  		<h1>¡¡ Gracias por usar <strong class="votapp">VotAPP</strong> !!</h1>
			<strong>Desde aquí, usted podrá:</strong>
		<p>- Crear usuarios para realizar el trabajo de campo de manera mas fácil y efectiva.<br>
	       - Crear nuevas encuestas para las elecciones actuales, limitando la cantidad de población a realizarles dichas encuestas.
		<br>Y más...</p><br>
		<strong>¡¡ No exponga más a sus encuestadores !!</strong><br>
		<p>Localice en tiempo real a un encuestador en peligro con nuestra aplicacion móvil.</p>
		
  </div>
 
</div>
<!-- <div class="row">
	<div class="4u 12u(mobile)">
		<span class="image fit"><img src="resources/img/votapp.png" alt=""></span>
	</div>
		<div class="8u 12u(mobile)" style="padding-top:10%">
			<header>
				<h1 style="color: beige;">¡¡ Gracias por usar <strong>VotAPP</strong> !!</h1>
					</header>
						<strong style="color: azure;">Desde aqui, usted podrá</strong>
						<p style="color: beige;">- Crear usuarios para realizar el trabajo de campo de manera mas fácil y efectiva.<br>
						- Crear nuevas encuestas para las elecciones actuales, limitando la cantidad de población a realizarles dichas encuestas.
						
						<br>Y más...</p><br>
						<strong style="color: azure;">¡¡ No exponga más a sus encuestadores !!</strong><br>
						<p style="color:beige;">Localice en tiempo real a un encuestador en peligro con nuestra aplicacion móvil.</p>
						<br>
						</div>
						
</div> -->
</div>		
	</div>

<div id="second">
	<div class="centrar">
		<div class="container">
			<div style="height: auto;margin: 0px auto;" class="row">
				<form style="width: 30%;margin: 0px auto;" role="form" >
				<div class="row">
						
							<div class="form-group">										
							
								<label for="nombre" class="control-label">Nombre real del Encuestador:</label>
								<input type="text" class="form-control" id="nombre" ng-model="encuestador.nombreEncuestador" placeholder="Nombre de usuario">
							</div>
					</div>
					<div class="row">
						
							<div class="form-group">										
							
								<label for="nombre" class="control-label">Nombre Encuestador:</label>
								<input type="text" class="form-control" id="nombre" ng-model="encuestador.username" placeholder="NickName">
							</div>
					</div>
					
					<div class="row">	
						
							<div class="form-group">		
							
								<label for="pass" class="control-label">Contraseña Encuestador:</label>
								<input type="password" class="form-control" id="pass" ng-model="encuestador.password" placeholder="Password">
							
						</div>
					</div>	
					<div class="row">				
						<button type="submit" class="btn btn-success btn-block" id="confirmar" name="confirmar" ng-click="altaEncuestador()">Enviar</button>						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="third" ng-controller="ThirdController">
	<div class="centrar">
			<div class="container">
					<a href="#first" du-smooth-scroll class="btn btn-success botonNav" > Inicio </a>
					<button class="btn btn-info" ng-click="getEleccionesActuales()"> Mostrar Elecciones </button>
			<div class="row">
				<div class="form-group">
					<div class="radio" ng-repeat="eleccion in elecciones">
						<label  >
							<input type="radio" ng-value="eleccion" ng-model="seleccion.eleccion" ng-click="openModal()" id="{{eleccion}}"> {{eleccion.nombre}}
						</label>
					</div>
					<div>You chose {{seleccion.eleccion.nombre}}</div>

				</div>
			</div>
		</div>
		</div>
</div>

<div id="fourth" ng-controller="FourthController">
	<div class="centrar">
		<div class="container">
			<h1> Encuestas finalizadas:  </h1>
			<div class="row">
				<div class="col-lg-6 col-xs-6 col-sm-6 col-md-6" style="left: 20%;">
					<div ng-repeat="encuesta in encuestasFinalizadas">
						<p><a class="btn btn-block btn-info" ui-sref="encuesta({ encuestaId: encuesta.id})" role="button">{{encuesta.nombre}}</a></p>
					</div>
				</div>
			</div>
		</div>
		</div>
</div>