
<div class="modal-header">
	<h3 class="modal-title">Definición de preguntas para {{eleccion.nombre}}</h3>
</div>
<div class="modal-body ">
	<div class="form-group ">
	    <label >Nombre encuesta</label>
        <input type="text" class="form-control" placeholder="Nombre" ng-model="checkboxModel.value0">
  	</div>  
	<div class="form-group" ng-hide="eleccion.tipoEleccion == 'Otra' || eleccion.tipoEleccion == 'Simple'">
    	<label>Seleccione la pregunta principal:</label>
        <div class="radio">
            <label><input type="radio" value="Candidato" ng-model="preguntaPrincipal.pregunta">
                "A cual <strong>candidato</strong> va a votar en la eleccion {{eleccion.nombre}}?"
            </label>
        </div>
        <div class="radio">
            <label><input type="radio"  value="Partido" ng-model="preguntaPrincipal.pregunta">
                "A cual <strong>partido</strong> va a votar en la eleccion {{eleccion.nombre}}?"
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Seleccione las preguntas extras:</label><br/>
        <div ng-hide="eleccion.tipoEleccion == 'Simple'" class="checkbox"><label><input type="checkbox" ng-model="checkboxModel.value1"> Preguntar Lista elegida</label></div>
        <div class="checkbox"><label><input type="checkbox" ng-model="checkboxModel.value2"> Preguntar Edad </label></div>
		<div class="checkbox"><label><input type="checkbox" ng-model="checkboxModel.value3"> Preguntar Sexo </label></div>
		<div class="checkbox"><label><input type="checkbox" ng-model="checkboxModel.value4"> Preguntar Nivel de estudio </label></div>
	</div>
    <div class="form-group">
    	<div ng-show = "eleccion.tipoEleccion != 'Departamental'">
    		<label>Indicar el total de respuestas: <input type="number" min="0" ng-model="checkboxModel.value5"></label>
    	</div>
    	<div ng-show = "eleccion.tipoEleccion == 'Departamental'">
    		<button class="btn btn-success" ng-click="seleccionarDeptos()">Seleccionar Departamentos</button>
    	</div>
		
	</div>
    
</div>
<div class="modal-footer">	
	<button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
	<button class="btn btn-primary" ng-click="ok()">Crear Encuesta</button>
</div>